<% provide(:title, "Admin Comments") %>
<div class="row">
	<%= render "admin/asaide" %>
	<div class="col-9 admin-artile" style="border: 1px solid;">
		<h3>Admin Comments</h3>
		<ul class = "list-group admin_list">
			<li>
			</li>
		</ul>
	</div>
</div>
