<% provide(:title, "Admin Comments") %>
<div class="row">
	<div class="col-3" style="background: #fff;border: 1px solid;">
		<p>block for other admin pages</p>
	</div>
	<div class="col-9 admin-artile" style="border: 1px solid;">
		<h3>Admin Comments</h3>
		<ul class = "list-group admin_list">
			<li></li>
		</ul>
	</div>
</div>
