<div class="col-2 admin-side" style="border: 1px solid;">
	<ul class="list-group list-group-flush admin-side_lis">
		<li class="list-group-item list-group-item-action">
        	<%=  link_to "Articles", admin_articles_path, class:"admin_list_link" %> 
		</li>
		<li class="list-group-item list-group-item-action">
        	<%=  link_to "Comments", admin_comments_path, class:"admin_list_link" %> 
		</li>
		<li class="list-group-item list-group-item-action">
        	<%=  link_to "Users", admin_users_path, class:"admin_list_link" %>
		</li>
	</ul>
</div>