
@import "bootstrap";

.footer_text{
  color: #6c757d;
}

.form-signin{
  padding: 15px;
  max-width: 330px;
}

.indent{
  margin-bottom: 5px;
}

.article{
 margin-bottom: 70px; 
}
.img{
  display: block;
  margin-bottom: 10px;
}
.article_paragraph{
  text-align: justify;
}
.articl_comments p{
margin: 0;
}
.comment_heading{
  font-style: oblique;
}
.comment_btn{
  padding-top: 15px;
  padding-bottom: 20px;
}
.main_btn{
  margin-bottom: 5px;
}
.link_btn{
  margin-bottom: 5px;
}
.gravatar{
  width: 60px;
}
