
@import "bootstrap";

.footer_text{
  color: #6c757d;
}

.form-signin{
  padding: 15px;
  max-width: 330px;
}

.indent{
  margin-bottom: 5px;
}

.article{
 margin-bottom: 70px; 
}
.img{
  display: block;
  margin-bottom: 10px;
}
.article_paragraph{
  text-align: justify;
}
.articl_comments p{
margin: 0;
}
.comment_btn{
  padding-top: 15px;
  padding-bottom: 20px;
}
.main_btn{
  margin-bottom: 5px;
}
.link_btn{
  margin-bottom: 5px;
}
.commennt_add{
  margin-top: 10px;
}
.admin_tab_item{
  margin-left: 5px;
  margin-right: 5px;
}
.admin_tab_item_link{
  color:#6c757d;
}
.admin_tab_item_link:hover{
  color:#fff;
}
.said_admin{
  background: #f8f9fa; 
  color:#212529bf;
}
.admin_list{
  margin-bottom: 10px;
}
.admin_list_link{
  text-decoration: none;
  color: grey;
}
.admin_list_item{
  color: grey;
  margin: 0;
}