
@import "bootstrap";

.footer_text{
  color: #6c757d;
}

.form-signin{
  padding: 15px;
  max-width: 330px;
}

.sign_btn{
  margin: 10px 0 15px 0;
}

.login_btn{
 margin: 5px 0 15px 0; 
}

.forgot_btn{
  margin-top: 10px;
}

.indent{
  margin-bottom: 5px;
}

.signFormHeader{
  margin-left: 30%;
}

.logFormHeader{
  margin-left: 35%;
}

.img{
  display: block;
  margin-bottom: 10px;
}
.article_paragraph{
  text-align: justify;
}