<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <small>
    <p class="footer_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing
    </p>
  </small>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <%= link_to "About",   about_path, class: "nav-link px-2 text-muted" %>
        </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path , class: "nav-link px-2 text-muted" %>
        </li>
        <!--<li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path , class: "nav-link px-2 text-muted" %>
        </li>-->
    </ul>
</footer>